@mixin font-face($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: ${weight};
        font-style: ${style};
    }
@import "fonts.css";
body{
    /*font-size: 15px;*/
    /*display: flex;*/
}
span {
    /*font-size: 20px;*/
}
div{
    /*font-size: 30px;*/
    background: url("../img/image.jpg") 0 0 no-repeat;
}
/*.webp div{*/
/*    background: url("../img/image.webp") 0 0 no-repeat;*/
/*}*/
/*@media screen and (max-width: 767px) {*/
/*    span{*/
/*font-size: 15px;*/
/*    }*/
/*    div{*/
/*        font-size: 20px;*/
/*    }*/
/*}*/