<header class="header">
    <h1>Шапка сайта</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis hic iste, perferendis
        porro quisquam sint veritatis vitae. Consectetur, consequuntur dignissimos exercitationem explicabo ipsam ipsum
        iusto quidem unde vitae.
    </p>
</header>